/*
 * Posts in Sidebar CSS for admin UI
 */

/* Structure of the elements */
.clear {
	clear: both;
}
.pis-section {
	clear: both;
	margin: 1em 0;
}
.pis-section:after {
	content: "";
	display: table;
	clear: both;
}
.pis-container {
	display: none;
	overflow: hidden;
	border-left:1px solid #DDD;
	border-right:1px solid #DDD;
	border-bottom:1px solid #DDD;
	padding:20px;
	margin:-10px 0px 10px 0px;
}
.pis-container-open {
	display: block;
}
.pis-column {
	float: left;
	width: 31%;
	margin: 0 2% 1em 0;
}
.pis-column-last {
	margin-right: 0;
}

.pis-2col .pis-column {
	width: 48%;
}

/* Typography */
.pis-widget-title {
	clear: both;
	padding:12px;
	border:1px solid #DDD;
	background-color:#FAFAFA;
	margin:0px 0px 10px 0px;
	font-size:1em;
	cursor: pointer;
}
.pis-widget-title:hover {
	border-color:#9D9D9D;
}
.pis-title-center {
	text-align: center;
}
.pis-alert {
	color: #777;
	font-weight: bold;
}
