/**
 * Posts in Sidebar CSS for admin UI
 * @since 2.0
 */

/* Structure of the elements */
.clear {
	clear: both;
}
.pis-section {
	clear: both;
	margin: 1em 0;
}
.pis-section:after {
	content: "";
	display: table;
	clear: both;
}
.pis-section:last-child {
	margin-bottom: 0;
}
.widget-content > .pis-section:last-child {
	margin-bottom: 1em;
}
.pis-container {
	display: none;
	overflow: hidden;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 15px;
	margin: 0;
}
.pis-container-open {
	display: block;
}
.pis-column-container {
	clear: both;
	overflow: hidden;
}
.pis-column {
	float: left;
	width: 31%;
	margin: 0 2% 1em 0;
}
.pis-column:last-child {
	margin-right: 0;
}
.pis-2col .pis-column {
	width: 48%;
}

/* Typography */
.pis-widget-title {
	clear: both;
	padding:12px;
	border:1px solid #DDD;
	background-color:#FAFAFA;
	font-size:1em;
	cursor: pointer;
	margin: 0;
}
.pis-widget-title:hover {
	border-color:#9D9D9D;
}
.pis-title-center {
	text-align: center;
}
.pis-alert {
	font-weight: bold;
	background-color: #F7F2D2;
	padding: 1em;
}
.pis-section select {
	width: 99%;
}

.pis-column.centered {
	float: none;
	margin: 0px auto 13px;
}

.pis-section h5 {
	font-size: 1em;
}